@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}


:root{
    --verde-escuro:#14424b;
    --verde: #2f9364;
    --laranja: #ff7c37;
    --degrade-btn: linear-gradient(#fe9611, #ff5c00);
    --color-p: #a1a1a1;
    --color-p2: #868585;
    --branco : #fff;

}


.background-verde{
    background-color: var(--verde-escuro);
}
/* classe conainter */
.container{
    max-width: 1440px;
    padding: 0 5%;
    margin: 0 auto;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.logo a{
    font-size: 30px;
    color: var(--branco);
    font-weight: bold;
}

.ul{
    display: flex;
    align-items: center;
    list-style: none;
}
.ul li{
    margin: 0 35px;
    font-size: 15px;
}
.ul li a{
    color : var(--branco)
}

.btn-gradient{
    padding: 10px 25px;
    color : var(--branco);
    border: none;
    cursor: pointer;
    background-image: var(--degrade-btn);
}


main .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}


.main-text{
    width: 50%;
    color: var(--branco);
}

.main-text h1{
    font-size: 4.5rem;
}

.main-text div{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.main-img{
    width: 50%;

}

.main-img img{
    width: 100%;
}